*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
 .container-fluid{
  background-image: url("pizza/45172dff4e8a000f30842245bff85e25.jpg"); */
   background-size: cover;
   height:600px;
   width:100%;
   background-repeat : no-repeat;
  background-position: center;
  
 }
 .container{
   background-color: rgb(100, 1, 9);
 }
   /* 
  background-repeat : no-repeat;
  background-position: top; */ */
/* box-sizing: border-box; */
/* font-family: Arial, Helvetica, sans-serif;
} */ */
header{
 text-transform: uppercase;
 color: white;
  text-align:center;
}
.logo{
  height:120px;
  width: auto;
  float: left;
}
  /* margin-top:5px; */

 .main{
    margin: 0 auto;
    padding: 10px 0; 
    margin-right: 0%;
    list-style: none;
}
.main li{
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}
.main li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  
}
.main li a:hover{
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); */
   background: transparent;
  cursor: pointer;
  color: rgba(0, 35, 122, 0.7);
  list-style: none;
  border-bottom:3px solid rgb(40, 255, 237);
  }
 h1{
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   word-spacing:5px;
   margin-bottom: 20px;
   color:white;
 } 
 .cover p{
  font-weight: bolder;
  font-size: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.btn{
 
  background-color:transparent;
  color:rgb(17, 5, 48);
  margin-right:400px;
  border:2px solid rgb(247, 0, 255);
  border-radius: 150px;
  
}
.btn:hover{
  background-color: rgb(19, 104, 16);
} 
 .btn {
  
  position: relative;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 3s;   
  -webkit-animation-delay: 2s; 
  -webkit-animation-fill-mode: both; 
  animation-name: example;
  animation-duration: 3s;  
  animation-delay: 2s;
  animation-fill-mode: both;
}


@-webkit-keyframes example {
  from {left: 0px; background-color: rgb(44, 158, 161);}
  to {left: 200px; background-color: blue;}
}

@keyframes example {
  from {left: 0px; background-color: rgb(0, 255, 234);}
  to {left: 200px; background-color: blue;}
}
#work, #work1, #work2, #work3, #work4, #work5, #work6, #work7{
  /* position: relative;
  overflow: hidden; */
  cursor: pointer;
}
.wor, .wor1, .wor2, .wor3, .wor4, .wor5, .wor6, .wor7{
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;

  color: black;
transform: translate(-50%, -50%);
width: 80%;
font-family: sans-serif;
 top: 70%;
left:50%; 
text-align: center;
height: 90%;
}
.wor > h2, .wor1>h2, .wor2>h2, .wor3>h2, .wor4>h2, .wor5>h2, .wor6>h2, .wor7>h2{
  text-transform: uppercase;
  /* position: absolute; */
  transform: translate(-50%);
  width: 100%;
  color: black;
  text-align: center;
 
  font-family: Arial, Helvetica, sans-serif;
  /* top: 50%;
  left: 50%; */
  padding: 0;
  margin: 0;
  font-size: 20px;
  }
  /* body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
   */
 /* .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  /* .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
   
   {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn1 {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn1:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }*/
  input[type=text],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label{
  font-size: 35px;
   font-weight: bolder;
   word-spacing:5px;
   color:white;
  }
  .btn1 {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn1:hover {
    background-color: #45a049;
  }